@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
     margin: 0;
     padding: 0;
     user-select: none;
     
}

body{
    font-family: "Roboto", sans-serif;
    background: #385f61;
}

.container nav.desk,
.container nav.mob{
        width: 100%;
        background: #364a4b;
        height: 60px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
        position: fixed;
        top: 0;
        left: 0;    
    }
    label.logo{
        width: 20%;
        color:white;
        text-align: center;
        font-weight: bold;
        line-height: 60px;
        font-size: 35px;
        padding: 0 50px;
    }
    nav.desk ul{
     float: right;
     list-style: none;
     width: 40%;
     height: 60px;
     margin: 0 auto;
    }
    
    nav.desk ul li{
        width: 20%;
        float: left;
        text-align: center;
        line-height: 60px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    nav ul li:hover {
        background: #a3ada5;       
    }
    
     nav ul li.active {
        background: #a3ada5;       
     }
  
     nav ul li a{
         color: #fff;
         text-decoration: none;
     }
     
     nav.mob,
     .hamburger-btn{
         display: none;
     }
    .header{
      overflow: hidden;
      height: 500px;
      
     }
    .header figure {
      position:relative;
      width: 500%;
      margin-top: 60px;
      left: 0;
      z-index: -1 ; 
      animation: 20s header infinite;
   }
   .header figure img {
       width: 20%;
       float: left;
   }
   @keyframes header{
       0%{
           left:0;
       }  
       20%{
           left:0;
       }
       25%{
           left:-100%;
       }
       45%{
           left:-100%;
       }
       50% {
           left:-200%;
       }
       70% {
           left:-200%;
       }
       75% {
           left:-300%;
       }
       95% {
           left:-300%;
       }
       100%{
           left:-400%;
       }
   }
@media screen and (max-width: 952px){
    label.logo{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-sze:10px;
    }
         nav.desk{
             display: none;
         }
              nav.mob,
              .hamburger-btn{
         display: block;
     }
     .hamburger-btn{
         position: relative;
     }
     .hamburger-btn .fa-bars,
     .hamburger-btn .fa-times{
         position: fixed;
         right: 25px;
         top: 15px;
         font-size: 35px;
         color: #fff;
         cursor: pointer;
     }
     .mob ul{
         margin-top: 60px;
         background: #364a4b;
         display: none;
     }
     .mob li{
         list-style: none;
         text-transform: uppercase;
         text-align: center;
         padding: 20px;
         cursor: pointer;
     }
     .mob ul.active{
         display: block;
     }
     }  
#section-2,
#section-3{
    overflow: hidden; 
    text-align: center;  
         }
#section-2 h1,
#section-3 h1{
    background-color: skyblue;
    height: 30px;
    text-align:center;
    color: darkblue;
    padding: 1px;
}
     
.row #column1,  
.row #column2, 
.row #column3{ 
        float: left; 
        width: 32.67%; 
        padding: 10px 5px 10px 5px;
        } 
        .row #column1{
            background-color: green;
        }
        .row #column3{
            background-color: cyan;
        }

.column-title h2{ 
    margin: 1em 0em; 
    font-size: 1.6em; 
    font-weight: 700; 
} 


.button { 
    text-decoration: none; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    background-color: #4CAF50;  
    color: white;  
    border: 2px solid #4CAF50; 
    padding: 16px 32px; 
    margin: 4px 2px; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
    cursor: pointer; 
} 
      
.button:hover { 
    background-color: white; 
    color: #4CAF50; 
} 


     .footer {
         position: relative;
         background: #222222;
         padding: 50px;
         }
              
         .footer .social_media{
            text-align: center;
            color:#fff;
         }
         
     .footer  .social_media ul{
         list-style: none;
         display: flex;
         justify-content: center;
         margin-bottom: 15px;
     }
     .footer    .social_media ul li a{
         display: block;
         margin: 0 10px;
         color: #fff;
         font-size: 28px;
         width: 50px;
         height: 50px;
         background: #a9a9a9;
         color: #222222;
         line-height: 50px;
         border-radius: 3px
         
     }
     
    .footer    .social_media ul li a.Linkedin:hover{
        color:#0e76a8;       
        
          }
    .footer    .social_media ul li a.GitHub:hover{
        color:#fff;
        }
        .footor .social_media{
            color: #adadad;
        }
              