@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
     margin: 0;
     padding: 0;
     user-select: none;
     
}

body{
    font-family: "Roboto", sans-serif;
    background: #385f61;
}

.container nav.desk,
.container nav.mob{
        width: 100%;
        background: #364a4b;
        height: 60px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
        position: fixed;
        top: 0;
        left: 0;    
    }
    label.logo{
        width: 20%;
        color:white;
        text-align: center;
        font-weight: bold;
        line-height: 60px;
        font-size: 35px;
        padding: 0 50px;
    }
    nav.desk ul{
     float: right;
     list-style: none;
     width: 40%;
     height: 60px;
     margin: 0 auto;
    }
    
    nav.desk ul li{
        width: 20%;
        float: left;
        text-align: center;
        line-height: 60px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    nav ul li:hover {
        background: #a3ada5;       
    }
    
     nav ul li.active {
        background: #a3ada5;       
     }
  
     nav ul li a{
         color: #fff;
         text-decoration: none;
     }
     
     nav.mob,
     .hamburger-btn{
         display: none;
     }
    
	@media screen and (max-width: 952px){
    label.logo{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-sze:10px;
    }
         nav.desk{
             display: none;
         }
              nav.mob,
              .hamburger-btn{
         display: block;
     }
     .hamburger-btn{
         position: relative;
     }
     .hamburger-btn .fa-bars,
     .hamburger-btn .fa-times{
         position: fixed;
         right: 25px;
         top: 15px;
         font-size: 35px;
         color: #fff;
         cursor: pointer;
     }
     .mob ul{
         margin-top: 60px;
         background: #364a4b;
         display: none;
     }
     .mob li{
         list-style: none;
         text-transform: uppercase;
         text-align: center;
         padding: 20px;
         cursor: pointer;
     }
     .mob ul.active{
         display: block;
     }
     }  
	 
	 
    .header{
	 padding: 0 50px;
	 position:relative;
	 height: 700px;
	 margin-top:60px;
	 text-align:justify;
	 font-weight: bold;
	 font-size:15px;
	 background-color: skyblue;
	 z-index: -1;
	}
	 nav.title1,
	 nav.title2,
	 nav.title3,
	 nav.title4{
	 color:darkblue;
	 background-color: lightgrey;
	 width: 100%;
	 padding-top:5px;
	 padding-bottom:5px;
    }
	 
	 
	 
	 
     .footer {
         position: relative;
         background: #222222;
         padding: 50px;
         }
              
         .footer .social_media{
            text-align: center;
            color:#fff;
         }
         
     .footer  .social_media ul{
         list-style: none;
         display: flex;
         justify-content: center;
         margin-bottom: 15px;
     }
     .footer    .social_media ul li a{
         display: block;
         margin: 0 10px;
         color: #fff;
         font-size: 28px;
         width: 50px;
         height: 50px;
         background: #a9a9a9;
         color: #222222;
         line-height: 50px;
         border-radius: 3px
         
     }
     
    .footer    .social_media ul li a.Linkedin:hover{
        color:#0e76a8;       
        
          }
    .footer    .social_media ul li a.GitHub:hover{
        color:#fff;
        }
        .footor .social_media{
            color: #adadad;
        }
              